#%RAML 1.0
title: Help To Save
version: 2.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include docs/versioning.md
 - title: Timeouts
   content: !include docs/timeouts.md
 - title: Security Matters
   content: !include docs/security.md
 - title: Creating and Updating Accounts
   content: !include docs/creatingAndUpdatingAccounts.md
 - title: Checking Eligibility
   content: !include docs/getEligibilityCheck.md
 - title: Getting Account Information
   content: !include docs/getAccount.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals:
  /help-to-save:
    /account:
      get:
        description: Get help-to-save account information
        is: [headers.acceptHeader]
        (annotations.scope): "read:help-to-save"
        securedBy: [sec.oauth_2_0:{scopes:["read:help-to-save"]}]
        headers:
          Authorization:
            description: Bearer [SERVER-TOKEN]
          Gov-Client-Public-IP:
            description: The IP of the server making the API call (can be a non-routable internal datacentre IP)
          Gov-Client-Public-port:
            description: The port of the server making the API call
          Gov-Client-Device-ID:
            description: This can be the MAC address of the network interface on the server making the API call
          Gov-Client-User-ID:
            description: The NINO of the person whose account is to be created
          Gov-Client-Timezone:
            description: The timezone of the server making the API call
          Gov-Client-Local-IP:
            description: The IP of the server making the API call (can be a non-routable internal datacentre IP)
          Gov-Client-User-Agent:
            example: Windows Server/2016 (Dell PowerEdge R6415)
            description: The operating system and hardware description of the server making the API call
          Gov-Vendor-Version:
            description: The version of the software making the API call
          Gov-Vendor-Instance-ID:
            example: app-server-1
            description: An identifier to differentiate between the various server instances
          Gov-Vendor-Public-IP:
            description: The IP of the server making the API call (can be a non-routable internal datacentre IP)
        responses:
          200:
            body:
              application/json:
                description: Account information was succsessfully retreived
                type: !include schemas/GetAccount.json
                example: !include examples/get-account/GetAccountHappy.json
          403:
            body:
              application/json:
                example:
                  description: No NINO could be found
                  value: !include examples/get-account/NoNINO.json
          404:
            body:
              application/json:
                description: account does not exist
                example: !include examples/get-account/NoAccount.json


      post:
        description: Sends a request to create or update an account on behalf of the user, noting the value fields below are all example values with the exception of fields Accept and Content-Type which should be presented as quoted string values as shown. For further information on field formats and examples, please see https://developer.service.hmrc.gov.uk/api-documentation/docs/reference-guide, noting the timezone should be a UTC offset as outlined in the righthand column at https://en.wikipedia.org/wiki/List_of_time_zone_abbreviations
        is: [headers.acceptHeader, headers.contentHeader]
        (annotations.scope): "write:help-to-save"
        securedBy: [sec.oauth_2_0:{scopes:["write:help-to-save"]}]
        headers:
          Authorization:
            description: Bearer [SERVER-TOKEN]
          Gov-Client-Public-IP:
            description: The IP of the server making the API call (can be a non-routable internal datacentre IP)
          Gov-Client-Public-port:
            description: The port of the server making the API call
          Gov-Client-Device-ID:
            description: This can be the MAC address of the network interface on the server making the API call
          Gov-Client-User-ID:
           description: The NINO of the person whose account is to be created
          Gov-Client-Timezone:
           description: The timezone of the server making the API call
          Gov-Client-Local-IP:
           description: The IP of the server making the API call (can be a non-routable internal datacentre IP)
          Gov-Client-User-Agent:
           example: Windows Server/2016 (Dell PowerEdge R6415)
           description: The operating system and hardware description of the server making the API call
          Gov-Vendor-Version:
           description: The version of the software making the API call
          Gov-Vendor-Instance-ID:
           example: app-server-1
           description: An identifier to differentiate between the various server instances
          Gov-Vendor-Public-IP:
           description: The IP of the server making the API call (can be a non-routable internal datacentre IP)
        body:
          application/json:
            type: !include schemas/CreateAccount.json
            example: !include examples/create-account/CreateAccount.json
        responses:
          200:
            description: The Help to Save account has been updated successfully
          201:
            description: The Help to Save account has been created successfully
          409:
            body:
              application/json:
                description: Conflict http response
                example: !include examples/create-account/ErrorConflictResponse.json


    /eligibility:
      /{nino}:
        uriParameters:
                nino:
                  description: The National Insurance Number for the individual. When given, it must match the regex
                   "^((?!(BG|GB|KN|NK|NT|TN|ZZ)|(D|F|I|Q|U|V)[A-Z]|[A-Z]\(D|F|I|O|Q|U|V)\)[A-Z]{2})[0-9]{6}[A-D]?$". For
                   requests using privileged access the NINO is a mandatory parameter.
                  type: string
                  example: "AB123456C"
                  required: false
        get:
          description: Sends a request to check the eligibility of an applicant, also checks if the applicant already has an account
          is: [headers.acceptHeader]
          (annotations.scope): "read:help-to-save"
          securedBy: [sec.oauth_2_0:{scopes:["read:help-to-save"]}]
          headers:
            Authorization:
              description: Bearer [SERVER-TOKEN]
            Gov-Client-Public-IP:
              description: The IP of the server making the API call (can be a non-routable internal datacentre IP)
            Gov-Client-Public-port:
              description: The port of the server making the API call
            Gov-Client-Device-ID:
              description: This can be the MAC address of the network interface on the server making the API call
            Gov-Client-User-ID:
              description: The NINO of the person for which the eligibility check is being performed
            Gov-Client-Timezone:
              description: The timezone of the server making the API call
            Gov-Client-Local-IP:
              description: The IP of the server making the API call (can be a non-routable internal datacentre IP)
            Gov-Client-User-Agent:
              example: Windows Server/2016 (Dell PowerEdge R6415)
              description: The operating system and hardware description of the server making the API call
            Gov-Vendor-Version:
              description: The version of the software making the API call
            Gov-Vendor-Instance-ID:
              example: app-server-1
              description: An identifier to differentiate between the various server instances
            Gov-Vendor-Public-IP:
              description: The IP of the server making the API call (can be a non-routable internal datacentre IP)
          responses:
            200:
              headers:
                X-Correlation-ID:
                 description: An id used for debugging purposes. It should match the regex "^([A-Z]|[a-z]|[0-9]|-){1,40}$"
              body:
                application/json:
                  type: !include schemas/HappyEligibilityResponse.json
                  examples:
                    example-1:
                      description: The person is eligible for Help to Save as they are entitled to WTC and in receipt of positive WTC/CTC Tax Credit and in receipt of UC and their household income is sufficient
                      value: !include examples/check-eligibility/EligiblePositiveWTCAndUCEligibilityResponse.json
                    example-2:
                      description: The person is eligible for Help to Save as they are in receipt of UC and their household income is sufficient
                      value: !include examples/check-eligibility/EligibleUCEligibilityResponse.json
                    example-3:
                      description: The person is eligible for Help to Save as they are entitled to WTC and in receipt of positive WTC/CTC Tax Credit
                      value: !include examples/check-eligibility/EligibleWTCEligibilityResponse.json
                    example-4:
                      description: The person is ineligible for Help to Save as they are entitled to WTC but not in receipt of positive WTC/CTC Tax Credit (nil TC) and in receipt of UC but their household income is insufficient
                      value: !include examples/check-eligibility/IneligibleWTCandUCEligibilityResponse.json
                    example-5:
                      description: The person is ineligible for Help to Save as they are not entitled to WTC and are in receipt of UC but their household income is insufficient
                      value: !include examples/check-eligibility/IneligibleUCIncomeInsufficientEligibilityResponse.json
                    example-6:
                      description: The person is ineligible for Help to Save as they are entitled to WTC but not in receipt of positive WTC/CTC Tax Credit (nil TC) and they are not in receipt of UC
                      value: !include examples/check-eligibility/IneligibleNotPositiveWTCAndNoUCEligibilityResponse.json
                    example-7:
                      description: The person is ineligible for Help to Save as they are not entitled to WTC and not in receipt of UC
                      value: !include examples/check-eligibility/IneligibleNoWTCNoUCEligibilityResponse.json
                    example-8:
                      description: The person already has a Help to Save account
                      value: !include examples/check-eligibility/AccountExistsEligibilityResponse.json
            403:
              body:
                application/json:
                  description: No NINO response
                  example: !include examples/check-eligibility/NoNINO.json
