#%RAML 1.0
title: Help-To-Save-API
version: 1.0
baseUri: https://api.service.hmrc.gov.uk/
protocols: [ HTTPS ]

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include http://api-documentation-raml-frontend.service/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include http://api-documentation-raml-frontend.service/api-documentation/assets/common/docs/errors.md

mediaType: [ application/json ]

uses:
  sec: http://api-documentation-raml-frontend.service/api-documentation/assets/common/modules/securitySchemes.raml
  headers: http://api-documentation-raml-frontend.service/api-documentation/assets/common/modules/headers.raml
  annotations: http://api-documentation-raml-frontend.service/api-documentation/assets/common/modules/annotations.raml
  types: http://api-documentation-raml-frontend.service/api-documentation/assets/common/modules/types.raml

/individuals/help-to-save/account:
post:
  description: Send a request to create an account from KCOM on behalf of the user
  body:
    application/json:
        schema: |
          {
           "header": {
             "version": "1.0",
             "createdTimestamp": "2017-11-22 23:11:09 GMT",
             "clientCode": "KCOM",
             "requestCorrelationId": "123e4567-e89b-12d3-a456-426655440000"
            },
           "body": {
             "nino": "AB123456A", 
             "forename": "Alex", 
             "surname": "O'Connor", 
             "dateOfBirth": "19920423", 
             "contactDetails": { 
               "address1": "86 Ashopton Road", 
               "address2": "Blackpool", 
               "postcode": "FY43 1FB", 
               "countryCode": "GB", 
               "communicationPreference": "00" 
              }, 
             "registrationChannel": "callCentre" 
           }
          }
  responses: 
    201: 
      body:
        application/json:        
    400:
      body:
        application/json:
          example: |
           {
            "error": 
             {
              "errorMessageId": "ZYRA0712",
              "errorMessage": "The first character cannot be a special character",
              "errorDetail": "Field: surname"
             }  
           }
    401:        
      body:
        application/json:
          example: |
           {
            "error": 
             {
              "errorMessageId": "ZYRA0713",
              "errorMessage": "The request was not authenticated",
              "errorDetail": "Unauthenticated request"
             }  
           }     
    403:        
      body:
        application/json:
          example: |
           {
            "error": 
             {
              "errorMessageId": "ZYRA0714",
              "errorMessage": "The request was forbidden",
              "errorDetail": "Forbidden request"
             }  
           }   
    404:        
      body:
        application/json:
          example: |
           {
            "error": 
             {
              "errorMessageId": "ZYRA0713",
              "errorMessage": "The requested resource was not found",
              "errorDetail": "Resource not found"
             }  
           }      
    405:        
      body:
        application/json:
          example: |
           {
            "error": 
             {
              "errorMessageId": "ZYRA0713",
              "errorMessage": "The method was not allowed",
              "errorDetail": "Method not allowed"
             }  
           }   
    409:        
      body:
        application/json:
          example: |
           {
            "error": 
             {
              "errorMessageId": "ZYRA0713",
              "errorMessage": "Account already exists, no changes have been made",
              "errorDetail": "Conflict - account already exists"
             }  
           }    
    500:        
      body:
        application/json:
          example: |
           {
            "error": 
             {
              "errorMessageId": "ZYRA0713",
              "errorMessage": "The request was unsuccessful because of an unexpected processing error",
              "errorDetail": "Unexpected processing error"
             }  
           }   
    502:        
      body:
        application/json:
          example: |
           {
            "error": 
             {
              "errorMessageId": "ZYRA0713",
              "errorMessage": "Server received an invalid response from the upstream server while trying to fulfil the request",
              "errorDetail": "Bad gateway"
             }  
           }     
    503:        
      body:
        application/json:
          example: |
           {
            "error": 
             {
              "errorMessageId": "ZYRA0713",
              "errorMessage": "The service was not available",
              "errorDetail": "Service not available"
             }  
           }                              