#%RAML 1.0
title: Help-To-Save
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include docs/versioning.md
 - title: Parameters
   content: !include docs/parameters.md
 - title: E2E Live Support Journey Analysis
   content: !include docs/liveSupport.md
 - title: Errors
   content: !include docs/errors.md
 - title: Timeouts
   content: !include docs/timeouts.md
 - title: Data Transformations
   content: !include docs/dataTransformations.md
 - title: Access to the API
   content: !include docs/access.md
 - title: Diacritics and Legal Considerations
   content: !include docs/diacritics.md
 - title: Security Matters
   content: !include docs/security.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals/help-to-save/account:
  post:
    description: Sends a request to create an account on behalf of the user
    is: [headers.acceptHeader, headers.contentHeader]
    securedBy: [ sec.x-application ]
    headers:
      gov-client-user-ID:
        example: EL079651A
        description: Caller's NINO
      gov-client-timezone:
         example: UTC
         description: Timezone Abbreviation
      gov-vendor-version:
         example: "1.3"
         description: Gov Vendor Version
      gov-vendor-instance-ID:
         example: fa7c484c-d8cf-4f8a-a39c-54a2a4c04bc6
         description: Hashed value, unique to a specific installation of the vendor's software
    body:
      application/json:
        example: !include schemas/CreateAccountExample.json
        type: !include schemas/CreateAccount.json
    responses:
      201:
        body:
          application/json:
            description: Account created, no json response body
      400:
        body:
          application/json:
            description: Bad request http response
            example: |
             {
              "error":
               {
                "errorMessageId": "ZYRA0712",
                "errorMessage": "The first character cannot be a special character",
                "errorDetail": "Field: surname"
               }
             }
      401:
        body:
          application/json:
            description: Unauthorized http response
            example: |
             {
              "error":
               {
                "errorMessageId": "ZYRA0713",
                "errorMessage": "The request was not authenticated",
                "errorDetail": "Unauthenticated request"
               }
             }
      403:
        body:
          application/json:
            description: Forbidden http response
            example: |
             {
              "error":
               {
                "errorMessageId": "ZYRA0714",
                "errorMessage": "The request was forbidden",
                "errorDetail": "Forbidden request"
               }
             }
      404:
        body:
          application/json:
            description: Not found http response
            example: |
             {
              "error":
               {
                "errorMessageId": "ZYRA0713",
                "errorMessage": "The requested resource was not found",
                "errorDetail": "Resource not found"
               }
             }
      405:
        body:
          application/json:
            description: Method not allowed http response
            example: |
             {
              "error":
               {
                "errorMessageId": "ZYRA0713",
                "errorMessage": "The method was not allowed",
                "errorDetail": "Method not allowed"
               }
             }
      409:
        body:
          application/json:
            description: Conflict http response
            example: |
             {
              "error":
               {
                "errorMessageId": "ZYRA0713",
                "errorMessage": "Account already exists, no changes have been made",
                "errorDetail": "Conflict - account already exists"
               }
             }
      500:
        body:
          application/json:
            description: Internal server error response
            example: |
             {
              "error":
               {
                "errorMessageId": "ZYRA0713",
                "errorMessage": "The request was unsuccessful because of an unexpected processing error",
                "errorDetail": "Unexpected processing error"
               }
             }
      502:
        body:
          application/json:
            description: Bad gateway http repsonse
            example: |
             {
              "error":
               {
                "errorMessageId": "ZYRA0713",
                "errorMessage": "Server received an invalid response from the upstream server while trying to fulfil the request",
                "errorDetail": "Bad gateway"
               }
             }
      503:
        body:
          application/json:
            description: Service unavailable http response
            example: |
             {
              "error":
               {
                "errorMessageId": "ZYRA0713",
                "errorMessage": "The service was not available",
                "errorDetail": "Service not available"
               }
             }